<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>by:小新-职教云24自动签到</title>
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="content">
        <div>
            <form action="/regist" method="post">
            <h2>欢迎使用本自动签到平台</h2>
            <label>
                <span>职教云账号</span>
                <input name="zcname" type="text" />
            </label>
            <label>
                <span>职教云密码</span>
                <input name="zcpass" type="password" />
            </label>
            <button class="submit">添加账号</button>
                </form></div>
        <div class="ccc">
            <form action="/cx" method="post">
                <h2>查询签到记录</h2>
                <label>
                    <span>用户名</span>
                    <input name="cxname" type="text" />
                </label>
                <button class="submit">查询记录</button>
            </form></div>
        </div>
    <script src="static/js/script.js"></script>
	
	<div style="text-align:center;">
<!--<p><a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>--->
</div>
    <div class="footer">
    <p>© 2017 Anan-X Studio. All Right Reserved. Themes by Moumou 桂ICP备15007582-1</p>
    </div>
</body>
</html>